@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Extended-Hyperlegible-Regular-104.woff2") format('woff');
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Extended-Hyperlegible-Bold-104.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Extended-Hyperlegible-BoldItalic-104.woff2") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Extended-Hyperlegible-Italic-104.woff2") format('woff');
  font-style: italic;
}
