<div class=e-summary>
  Bookmarked {{ partialCached "generic-cite.html" (slice . "bookmark-of" $.Site) (slice "bookmark-of" (index .Params.Properties "bookmark-of")) }}
</div>

<div class=e-content>
  {{ partialCached "mf2/property/content.html" . .Params.Properties }}
</div>
