<div class="e-summary">
{{ with index .Params.Properties "read-status" }}
  {{ with index . 0 }}
    <data class="p-read-status" value="{{ . }}">
      {{ if eq "to-read" . }}
			I want to read
      {{ else if eq "reading" . }}
			I am currently reading
      {{ else if eq "finished" . }}
			I have finished reading
      {{ else }}
			{{ . }}
      {{ end }}
    </data>
  {{ end }}
{{ end }}

{{ partialCached "generic-cite.html" (slice . "read-of" $.Site) (slice "read-of" (index .Params.Properties "read-of")) }}
</div>
