{{ define "main" }}

<main>
	<h1>{{ .Title }}</h1>

	{{ .Content }}

	<div class="catalogue">
		{{ range (.Site.RegularPages.GroupByDate "2006") }}
		{{ $pages := (where (where .Pages "Params.deleted" false) "Params.kind" "articles") }}
		{{ if $pages }}
		<h2>{{ .Key }}</h2>

		<ul class="archive-list">
			{{ range $pages }}
			<li>
				<span class="archive-date">
					{{ dateFormat "02 Jan" .PublishDate }}
				</span>

				<strong><a class="p-name u-url" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></strong>
			</li>
			{{ end }}
		</ul>
		{{ end }}
		{{ end }}
	</div>
</main>

{{ end }}
