a[href^="/tags/"] {
	color: var(--colour-bright-aqua);
	border-bottom-color: var(--colour-bright-aqua);

	&:visited {
		color: var(--colour-aqua);
		border-bottom-color: var(--colour-aqua);

		&:hover {
			color: var(--colour-bright-white);
			background-color: var(--colour-aqua);
		}
	}
	&:hover {
		color: var(--colour-bright-white);
		background-color: var(--colour-bright-aqua);
	}
}
