.h-entry {
	p {
		text-align: justify;
	}

	strong .p-name,
	a.u-bookmark-of.url,
	aside.u-bookmark-of a.url,
	a.u-like-of.url,
	aside.u-like-of a.url,
	a.u-repost-of.url,
	aside.u-repost-of a.url,
	a.u-in-reply-to.url,
	aside.u-in-reply-to a.url
	{
		font-size: 120%;
		line-height: 30px;

		color: var(--colour-green);
		border-bottom-color: var(--colour-green);

		&:hover {
			color: var(--colour-bg0);
			background-color: var(--colour-green);

			code {
				color: var(--colour-bg0);
			}
		}
	}

	img.u-featured {
		max-height: 200px;
	}

  .h-cite {
    img.u-photo {
      max-height: 200px;
    }
    details {
      margin: 20px;
    }
    .p-uid {
      display: none;
    }
  }
}
