body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
aside,
ul,
ol,
footer,
.post-details,
.support-me,
.pagination,
form,
.post table,
// NOTE that we don't add `<details>` as the container element (as it'll lead to code snippets inside not being max-width'd, just the `<summary>`
summary,
.h-entry.mf2,
.post.mf2,
div.ap-wrapper,
{
  @extend %max-width;
  margin: 0 auto 1rem;
}

.container img {
  margin: 0 auto 1rem;
}

pre code {
  @extend %max-width;
  display: block;
  margin: 0 auto;
  padding: 0;
}
