pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #FCE8C3 }
.highlight { background: #1C1B19; color: #dddddd }
.highlight .c { color: #808080; font-style: italic } /* Comment */
.highlight .err { color: #1C1B19; background-color: #F75341 } /* Error */
.highlight .esc { color: #dddddd } /* Escape */
.highlight .g { color: #dddddd } /* Generic */
.highlight .k { color: #F75341 } /* Keyword */
.highlight .l { color: #dddddd } /* Literal */
.highlight .n { color: #dddddd } /* Name */
.highlight .o { color: #dddddd } /* Operator */
.highlight .x { color: #dddddd } /* Other */
.highlight .p { color: #dddddd } /* Punctuation */
.highlight .ch { color: #808080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #808080; font-style: italic } /* Comment.Multiline */
.highlight .c-PreProc { color: #2BE4D0; font-style: italic } /* Comment.PreProc */
.highlight .cp { color: #808080; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #808080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #808080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #FCE8C3; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #1C1B19; background-color: #F75341 } /* Generic.Deleted */
.highlight .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #dddddd; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #F75341 } /* Generic.Error */
.highlight .gh { color: #FCE8C3; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #1C1B19; background-color: #b8bb26 } /* Generic.Inserted */
.highlight .go { color: #f2e5bc } /* Generic.Output */
.highlight .gp { color: #8A8A8A } /* Generic.Prompt */
.highlight .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #FCE8C3; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #F75341 } /* Generic.Traceback */
.highlight .kc { color: #F75341 } /* Keyword.Constant */
.highlight .kd { color: #F75341 } /* Keyword.Declaration */
.highlight .kn { color: #F75341 } /* Keyword.Namespace */
.highlight .kp { color: #F75341 } /* Keyword.Pseudo */
.highlight .kr { color: #F75341 } /* Keyword.Reserved */
.highlight .kt { color: #F75341 } /* Keyword.Type */
.highlight .ld { color: #dddddd } /* Literal.Date */
.highlight .m { color: #98BC37 } /* Literal.Number */
.highlight .s { color: #98BC37 } /* Literal.String */
.highlight .na { color: #FED06E } /* Name.Attribute */
.highlight .nb { color: #FF8700 } /* Name.Builtin */
.highlight .nc { color: #2BE4D0 } /* Name.Class */
.highlight .no { color: #98BC37 } /* Name.Constant */
.highlight .nd { color: #F75341 } /* Name.Decorator */
.highlight .ni { color: #dddddd } /* Name.Entity */
.highlight .ne { color: #F75341 } /* Name.Exception */
.highlight .nf { color: #2BE4D0 } /* Name.Function */
.highlight .nl { color: #dddddd } /* Name.Label */
.highlight .nn { color: #2BE4D0 } /* Name.Namespace */
.highlight .nx { color: #dddddd } /* Name.Other */
.highlight .py { color: #dddddd } /* Name.Property */
.highlight .nt { color: #2BE4D0 } /* Name.Tag */
.highlight .nv { color: #68A8E4 } /* Name.Variable */
.highlight .ow { color: #F75341 } /* Operator.Word */
.highlight .pm { color: #dddddd } /* Punctuation.Marker */
.highlight .w { color: #dddddd } /* Text.Whitespace */
.highlight .mb { color: #98BC37 } /* Literal.Number.Bin */
.highlight .mf { color: #98BC37 } /* Literal.Number.Float */
.highlight .mh { color: #98BC37 } /* Literal.Number.Hex */
.highlight .mi { color: #98BC37 } /* Literal.Number.Integer */
.highlight .mo { color: #98BC37 } /* Literal.Number.Oct */
.highlight .sa { color: #98BC37 } /* Literal.String.Affix */
.highlight .sb { color: #98BC37 } /* Literal.String.Backtick */
.highlight .sc { color: #98BC37 } /* Literal.String.Char */
.highlight .dl { color: #98BC37 } /* Literal.String.Delimiter */
.highlight .sd { color: #98BC37 } /* Literal.String.Doc */
.highlight .s2 { color: #98BC37 } /* Literal.String.Double */
.highlight .se { color: #FF8700 } /* Literal.String.Escape */
.highlight .sh { color: #98BC37 } /* Literal.String.Heredoc */
.highlight .si { color: #98BC37 } /* Literal.String.Interpol */
.highlight .sx { color: #98BC37 } /* Literal.String.Other */
.highlight .sr { color: #98BC37 } /* Literal.String.Regex */
.highlight .s1 { color: #98BC37 } /* Literal.String.Single */
.highlight .ss { color: #98BC37 } /* Literal.String.Symbol */
.highlight .bp { color: #FF8700 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #2BE4D0 } /* Name.Function.Magic */
.highlight .vc { color: #68A8E4 } /* Name.Variable.Class */
.highlight .vg { color: #68A8E4 } /* Name.Variable.Global */
.highlight .vi { color: #68A8E4 } /* Name.Variable.Instance */
.highlight .vm { color: #68A8E4 } /* Name.Variable.Magic */
.highlight .il { color: #98BC37 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
