%max-width {
  /* Viewers on smaller screens should have 20% of the screen as whitespace
   * to give them some breathing room
   */
  @media (max-width: 1200px) {
    max-width: 80%;
  }
  /* When you're on a huge screen, you don't want to be looking _too_ far
   * across the page, so we should limit this to an arbitrary width of
   * 1100px. Anyone at 1200px will see it a little cramped, but it's not as
   * bad as before!
   */
  @media (min-width: 1200px) {
    max-width: 1100px;
  }
}

/* https://stackoverflow.com/a/38713737/2257038 */
@function repeat($character, $n){
	$c:"";
	@for $i from 1 through $n {
		$c: $c + $character;
	}
	@return $c;
}

%divider {
	@extend %max-width;
	margin: 0 auto 1rem;

	font-size: 1rem;
	@media (min-width: 300px) {
		content: repeat('=', 30);
	}
	@media (min-width: 400px) {
		content: repeat('=', 40);
	}
	@media (min-width: 500px) {
		content: repeat('=', 50);
	}
	@media (min-width: 600px) {
		content: repeat('=', 60);
	}
	@media (min-width: 700px) {
		content: repeat('=', 70);
	}
	@media (min-width: 800px) {
		content: repeat('=', 80);
	}
	@media (min-width: 900px) {
		content: repeat('=', 90);
	}

	color: var(--todo-b0bec5);
	display: block;

}

%divided {
	&::after {
		@extend %divider;
	}
}
