:root {
    --colour-bg0: #1C1B19;
    --colour-black: #1C1B19;
    --colour-red: #EF2F27;
    --colour-green: #519F50;
    --colour-yellow: #FBB829;
    --colour-blue: #2C78BF;
    --colour-magenta: #E03C6D;
    --colour-cyan: #0AAEB3;
    --colour-white: #BAA67F;
    --colour-bright-black: #918175;
    --colour-bright-red: #F75341;
    --colour-bright-green: #98BC37;
    --colour-bright-yellow: #FED06E;
    --colour-bright-blue: #68A8E4;
    --colour-bright-magenta: #FF5C8F;
    --colour-bright-cyan: #2BE4D0;
    --colour-bright-white: #FCE8C3;
    --colour-orange: #FF5F00;
    --colour-bright-orange: #FF8700;
    --colour-teal: #008080;
    --colour-hard-black: #121212;
    --colour-xgray1: #262626;
    --colour-xgray2: #303030;
    --colour-xgray3: #3A3A3A;
    --colour-xgray4: #444444;
    --colour-xgray5: #4E4E4E;
    --colour-xgray6: #585858;
    --colour-xgray7: #626262;
    --colour-xgray8: #6C6C6C;
    --colour-xgray9: #767676;
    --colour-xgray10: #808080;
    --colour-xgray11: #8A8A8A;
    --colour-xgray12: #949494;

    --todo-fdf4c1: #fdf4c1;
    --todo-b0bec5: #b0bec5;
}

body {
    color: var(--colour-white);
    background-color: var(--colour-black);
}

pre, .highlight {
    background: var(--colour-hard-black) !important;
}

a {
    color: var(--colour-bright-magenta);
}

a:visited {
    color: var(--colour-fg);
    text-decoration-color: var(--colour-magenta);
}

:not(pre) > code {
    color: var(--colour-bright-blue);
}
