@import 'srcery';

@import 'atkinson-hyperlegible/font';

@import 'www.jvt.me/apps';
@import 'www.jvt.me/bridgy';
@import 'www.jvt.me/category';
@import 'www.jvt.me/context';
@import 'www.jvt.me/divider';
@import 'www.jvt.me/feed';
@import 'www.jvt.me/footer';
@import 'www.jvt.me/font';
@import 'www.jvt.me/h-card';
@import 'www.jvt.me/h-entry';
@import 'www.jvt.me/header';
@import 'www.jvt.me/hidden';
@import 'www.jvt.me/icons';
@import 'www.jvt.me/max-width';
@import 'www.jvt.me/meta';
@import 'www.jvt.me/pagination';
@import 'www.jvt.me/personal-hcard';
@import 'www.jvt.me/photos';
@import 'www.jvt.me/spoiler';
@import 'www.jvt.me/support-me';
@import 'www.jvt.me/syndication';
@import 'www.jvt.me/syntax';
@import 'www.jvt.me/variables';
@import 'www.jvt.me/video';
@import 'www.jvt.me/webmentions';

blockquote, code, em, strong {
  line-height: 22px;
}

strong {
  color: var(--colour-bright-red);
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1.nav-title {
  color: var(--colour-bright-orange);
  // TODO: underline
  font-size: 150%;
}

table {
  width:100%;
  border-collapse:collapse;
  margin:1.75rem 0;
  color: var(--colour-xgray12);
}

table td,
table th {
  vertical-align:top;
  border:1px solid var(--colour-xgray12);
  line-height:15px;
  padding:10px
}

table thead th {
  font-size:10px
}

table tbody td:first-child {
  font-weight:700;
  color: var(--colour-xgray12);
}

table {
  color: var(--colour-xgray12);
}

table td, table th {
    border-color: var(--colour-xgray12);
}

table tbody td:first-child {
    color: var(--colour-xgray12);
}

#TableOfContents ul {
  list-style: none;
}

blockquote p {
  padding-left: 10px;
  border-left: var(--colour-cyan) 2px solid;
}

.archive-list .archive-date {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
