<ul>
    {{ range .Site.Menus.main }}
        <li{{ with .Identifier }} id="header-{{.}}"{{ end }}>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                {{ .Post }}
            </a>
        </li>
    {{ end }}
</ul>
